<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="name-field">
        {{ form.name.label }}
        {{ form.name(class = "form-control", placeholder = "Name!") }}
        </fieldset>
        <fieldset id="description-field">
        {{ form.description.label }}
        {{ form.description(class = "form-control", placeholder = "Description") }}
        </fieldset>
        <fieldset id="price-field">
        {{ form.price.label }}
        {{ form.price(class = "form-control", placeholder = "Price") }}
        </fieldset>
        <fieldset id="camera-field">
        {{ form.camera_quality.label }}
        {{ form.camera_quality(class = "form-control", placeholder = "Camera Quality") }}
        </fieldset>
        <fieldset id="flight-field">
        {{ form.flight_time.label }}
        {{ form.flight_time(class = "form-control", placeholder = "Flight Time") }}
        </fieldset>
        <fieldset id="max_speed-field">
        {{ form.max_speed.label }}
        {{ form.max_speed(class = "form-control", placeholder = "Max Speed") }}
        </fieldset>
        <fieldset id="dimensions-field">
        {{ form.dimensions.label }}
        {{ form.dimensions(class = "form-control", placeholder = "Dimensions") }}
        </fieldset>
        <fieldset id="weight-field">
        {{ form.weight.label }}
        {{ form.weight(class = "form-control", placeholder = "Weight") }}
        </fieldset>
        <fieldset id="cop-field">
        {{ form.cost_of_production.label }}
        {{ form.cost_of_production(class = "form-control", placeholder = "Cost of Production") }}
        </fieldset>
        <fieldset id="series-field">
        {{ form.series.label }}
        {{ form.series(class = "form-control", placeholder = "Series") }}
        </fieldset>
       

        <!-- Submit Area Button -->
        {{ form.submit_button(class = "btn btn-primary btn-block") }}

    </div>
</form>